*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(255, 0, 0);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    float: right;
}

.number{
    height: 80px;
    width: 80px;
    border: 1px solid white;
}

button{
    border-radius: 50%;
    padding: 25px 25px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
}

.number:hover{
    box-shadow: 0px 0px 20px gray;
}

.container{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    font-size: 40px;
    color: yellowgreen;
}

.uno{
    background-color: red;
}

.due{
    background-color: green;
}

.tre{
    background-color: yellow;
}

.scarpa{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

